*{
    padding: 0%;
    margin: 0%;
}
/* root{
    --color-bg:rgb(170, 51, 51);
} */

header{
    width: 96%;
    height: 12vh;
    background-color: rgb(215, 210, 219);
    display: flex;
    border: 3px solid rgb(151, 151, 151) ;
    border-radius: 15px;
    margin-top: 12px;
    margin-right: 30px;
    margin-left:30px;
    opacity: ;
    
}
.logo{
    width: 25%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.navi{
    width: 75%;
    height: 100%;

}
.nav {
    list-style: none;
    text-decoration: none;
    z-index: 1000;
}
.navi{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

/* ====================================home page section==================== */


.home{
    height: 85vh;
    width: 100%;

    display: flex;
}
.mp{
        height: 85vh;
    width: 50%;
 

}
.map{
        height: 85vh;
    width: 50%;

    
}
.mp{
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(151, 151, 151) ;
}

/* =========================second======================== */

/* .second{
    display: flex;
    justify-content: center;
    align-items: center;
} */


/* ===========================city===================== */

/* .city{
    width: 100%;
    height: 50%;
    background-color: aqua;
} */
/* #city-w{
    height: 40vh;
    width: 99.5%;
    background-color: blue;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    border: 4px solid black;
    border-radius: 25px;
}

.city-h{ */
    /* height:100%; */
    /* width:70% ; */
    /* background-color: brown;
    display:flex ;
}


.city-i{
        height:100%;
    width:30% ;
    background-color: blueviolet;
    
} */


.indore{
width: 100%;
height:40vh ;
background-color: rgb(215, 210, 219);
display: flex;
gap: 10px;
margin-top: 10px;
margin-bottom: 10px;
border: 2px solid black;
border-radius: 25px;
overflow: hidden;
}

.indore img-city{
    height: 100%;
    width: 30%;
    display: ;
}



---------------festival---------------------------

